@import "variables";
@font-face {
  font-family: '#{$icomoon-font-family}';
  src : url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6971ku');
  src : url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6971ku#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6971ku') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6971ku') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6971ku##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-brast-"],
[class*=" icon-brast-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brast-warrior-fight {
  &:before {
    content: $icon-brast-warrior-fight;
  }
}

.icon-brast-gnome-hat {
  &:before {
    content: $icon-brast-gnome-hat;
  }
}

.icon-brast-helmet {
  &:before {
    content: $icon-brast-helmet;
  }
}

.icon-brast-town {
  &:before {
    content: $icon-brast-town;
  }
}
