$icomoon-font-family: "brastlewark" !default;
$icomoon-font-path: "fonts" !default;

$icon-brast-warrior-fight: "\e903";
$icon-brast-gnome-hat: "\e900";
$icon-brast-helmet: "\e901";
$icon-brast-town: "\e902";

