<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="dark" lines="none" class="border-bottom">
      <ion-icon name="close" (click)="close()" slot="start" color="light"></ion-icon>
      <ion-label slot="end" color="light" class="apply-label">Apply</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <section>
    <h1 class="item-title">Sorting</h1>
    <ion-item color="dark" lines="none" class="border-bottom">
      <app-checkbox text="Name ascending"></app-checkbox>
      <app-checkbox text="Name descending"></app-checkbox>
    </ion-item>
  </section>
  <section>
    <h1 class="item-title">Age</h1>
    <ion-item color="dark" lines="none" class="border-bottom">
      <ion-range min="0" max="1000" step="10" dual-knobs="true" color="light" pin="true"></ion-range>
    </ion-item>
  </section>
</ion-content>
