<ion-header>
  <ion-toolbar color="dark"> <ion-title> Town </ion-title> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/town.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Gnome town</ion-card-subtitle>
      <ion-card-title>Welcome to Brastlewark</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Hi <b>{{ username }}</b
        >, welcome to Brastlewark, we were waiting for a hero for a long term..
      </p>
      <p>Please use our app to know everything about us.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
