.back-arrow {
  margin-left: 15px;
}

.card-header {
  text-align: center;
}

.img {
  max-height: 40vh;
}

.hair-color-circle {
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  border-bottom: 0px;
}

.label {
  opacity: 0.5;
}

.value {
  font-size: 1rem;
  font-weight: 700;
}

.margin-top {
  margin-top: 5vh;
  display: block;
}
